<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: rgb(250, 228, 255);">
  <router-outlet></router-outlet>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="background-color: rgba(225, 153, 241, 0.836);">
    <div class="container-fluid row">
      <div class="col-md-3">
        <div class="widget-area footer-widgets-4 footer-widget-area">
          <section id="custom_html-18" class="widget_text widget widget_custom_html">
            <div class="widget_text widget-wrap">
              <h4 class="widget-title widgettitle">Radno vreme</h4>
              <div class="textwidget custom-html-widget">
                <ul style="line-height:18px;font-family: 'Montserrat', Helvetica, Arial, sans-serif;">
                  <li>Pon-pet: 08:00-20:00</li>
                  <li>Sub-ned: 10:00-15:00</li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="col-md-3">
        <div class="widget-area footer-widgets-4 footer-widget-area">
          <section id="custom_html-18" class="widget_text widget widget_custom_html">
            <div class="widget_text widget-wrap">
              <h4 class="widget-title widgettitle">Lokacije</h4>
              <div class="textwidget custom-html-widget">
                <ul style="line-height:18px;font-family: 'Montserrat', Helvetica, Arial, sans-serif;">
                  <li>Radnicka 59, prvi sprat</li>
                  <li>Pozeska 30</li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="col-md-3 footer-wrapper_branding-social">
        <section id="custom_html-18" class="widget_text widget widget_custom_html">
          <div class="widget_text widget-wrap">
            <h4 class="widget-title widgettitle">Drustvene mreze</h4>
            <ul style="line-height:18px;font-family: 'Montserrat', Helvetica, Arial, sans-serif;">
              <li><a href="https://www.facebook.com/" rel="noopener noreferrer" aria-label="GeeksforGeeks Facebook" target="_blank">
                Facebook
              </a></li>
              <li><a href="https://www.instagram.com/" rel="noopener noreferrer" aria-label="GeeksforGeeks Instagram" target="_blank">
                Instagram
              </a></li>
              <li><a href="https://in.linkedin.com/" rel="noopener noreferrer" aria-label="GeeksforGeeks LinkedIn" target="_blank">
                Linkedin
              </a></li>
            </ul>
          </div>
        </section>
      </div>
    </div>
    <div class="container-fluid">
      <p style="text-align:center;font-family:Montserrat;padding-bottom:30px;margin-bottom:0;padding-top:10px;font-size: small;">
        © 2023 - COPYWRITE ANA ČOTRA. ALL RIGHTS RESERVED.
      </p>
    </div>
  </footer>
</body>