<body style="background-color: rgb(240, 227, 243); padding-bottom: 5%;">
    <header>
    <!--Navigacija-->
        <nav class="navbar navbar-light navbar-expand-sm fixed-top" style="background-color: rgba(141, 67, 158, 0.747); font-weight: bold;">
            <div class="container-fluid">
                 <!-- Brand -->
                 <span class="navbar-brand mb-8 h3" style="color: rgb(0, 0, 0); font-size: 35px;">Pacijent</span>

                 <!-- Hamburger ikona za manje ekrane -->
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="collapse navbar-collapse" id="navbarNav">
                 <!-- Links -->
                 <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/pacijent">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tabelaLek">Lekari</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/preglediPac">Pregledi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/obavestenjaPac">Obaveštenja</a>
                    </li>
                </ul>
                </div>
                <form class="d-flex">
                    <button class="btn btn-sm btn-light" type="button" (click)="logout()" >Odjava</button>
                </form>
            </div>
        </nav>
    </header>
</body>